<hello name="{{ name }}"></hello>

<div>
  <p>
    Start editing to see some magic happen :)
  </p>

  <div class="row" id="ngx-printer">
    <img
      src="https://www.kaspersky.com.br/content/pt-br/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png"
      alt=""
      width="100px"
    />
    <img
      src="https://www.kaspersky.com.br/content/pt-br/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png"
      alt=""
      width="100px"
    />
    <img
      src="https://www.kaspersky.com.br/content/pt-br/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png"
      alt=""
      width="100px"
    />
  </div>
</div>

<button (click)="onPrint()">imprimir</button>
